#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.read-the-docs {
  color: #888;
}

.styled-button {
  width: 80px;
  height: 80px;
  padding: 0;
  border: solid 1px #333;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 300ms;
  outline: none;
}	

.styled-button:hover {
  border-color: #242424;
  transform: scale(1.1);
  transition: transform 300ms;
}